/* 3.6 numbers section */
.numbers{
    position:relative;
    background-image: url('../images/background/background2.webp');
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
}
.numbers-item{
    padding:100px 0;
}

.numbers-item .number-item{
    width: 25%;
    float:left;
    text-align: center;
}
.number-item .icon{
    color:var(--mainColor);
}
.number-item-title{
    font-weight: bold;
    font-size: 30px;
    color:var(--whiteColor);
}
.number-item-text{
    color:var(--whiteColor);
}
