/* 3.3 portofolio section */
.portofolio{
    background-color: #f9f9f9;
}
.portofolio-item{
    width:32%;
    float:left;
    position: relative;
    padding: 15px;
}
.portofolio-layer-content{
    position:absolute;
    background:rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity:0;
    visibility: hidden;
    transition: opacity .5s,visibility .5s;
}
.portofolio-item:hover .portofolio-layer-content{
    opacity:1;
    visibility:visible;
}

.portofolio-layer-info{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    text-align: center;
    width: 80%;
}
.portofolio-layer-info .category{
    color:var(--mainColor);
    text-transform: uppercase;
    display: block;
    position:relative;
    top:10px;
    transition: top .5s,visibility .5s ,opacity .5s;
    transition-delay: .2s;
    opacity:0;
    visibility:hidden;
}
.portofolio-layer-content-title{
    font-size:20px;
    color:var(--whiteColor);
    position:relative;
    top:10px;
    transition: top .5s,visibility .5s ,opacity .5s;
    transition-delay: .3s;
    opacity:0;
    visibility:hidden;
}
.portofolio-layer-content a{
    position:relative;
    top:10px;
    transition: top .5s,visibility .5s ,opacity .5s;
    transition-delay: .3s;
    opacity:0;
    visibility:hidden;
}
.portofolio-item:hover .portofolio-layer-info .category,.portofolio-item:hover .portofolio-layer-content-title,.portofolio-item:hover .portofolio-layer-content a{
    top: 0;  
    opacity: 1;
    visibility:visible;
}


.portofolio-layer-content i{
    color:var(--whiteColor);
    background-color:var(--mainColor);
    width:40px;
    height: 40px;
    line-height: 40px;
}
.portofolio-item img{
    width:100%;
}
.portofolio-item.mg{
    margin:0 2%; 
}
